<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  @*animation*@

<div class="contact w3-container w3-animate-left">   @*animation*@
    @{
        ViewBag.Title = "Kapcsolat";
    }
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
        <strong>Telefon:</strong><br>
        +36 (1) 123-4567<br>
        +36 (1) 987-6543<br><br>
        <strong>Ügyfélszolgálatunk elérhető:</strong><br>
        H-p   8.00 - 20.00<br>
        Sz    8.00 - 15.00<br>
        Fax: (06-1) 814-9998
    </address>

    <address>
        <strong>Vevőszolgálat:</strong>   <a href="mailto:vevoszolgalat@example.com">vevoszolgalat@webshop.com</a><br />
    </address>
</div>