USE [WebshopDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2018. 06. 12. 12:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](400) NOT NULL,
	[Price] [int] NOT NULL,
	[Image] [varchar](500) NOT NULL,
	[SizeId] [int] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [Image], [SizeId], [ProductCategoryId]) VALUES (1, N'Viszkózblúz', N'Fehér, rózsás. Ujjatlan, puha viszkózszövet blúz keskeny gallérral, elöl gombokkal, lekerekített, hátul kissé hosszabb alsó szegéllyel.', 2990, N'~/Content/products/blouse/1.jpg', 1, 13)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [Image], [SizeId], [ProductCategoryId]) VALUES (4, N'Viszkózblúz', N'Fehér, rózsás. Ujjatlan, puha viszkózszövet blúz keskeny gallérral, elöl gombokkal, lekerekített, hátul kissé hosszabb alsó szegéllyel.', 2990, N'~/Content/products/blouse/1.jpg', 2, 13)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [Image], [SizeId], [ProductCategoryId]) VALUES (5, N'Viszkózblúz', N'Fehér, rózsás. Ujjatlan, puha viszkózszövet blúz keskeny gallérral, elöl gombokkal, lekerekített, hátul kissé hosszabb alsó szegéllyel.', 2990, N'~/Content/products/blouse/1.jpg', 3, 13)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Size] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Size] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Size]
GO
