USE [WebshopDB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018. 06. 12. 12:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [char](64) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [Password]) VALUES (7, N'kitti@gmail.com', N'12AFCB3C6BD730D9E7ACAF5FF16B27226AA0393E5BA35A46F0E7B562C00CC775')
INSERT [dbo].[User] ([Id], [Email], [Password]) VALUES (8, N'evelin@gmail.com', N'5E56E3537355F988E26A2C4A29107D440B8E755610042963B5AABAC56DBB99D7')
INSERT [dbo].[User] ([Id], [Email], [Password]) VALUES (9, N'vivien@gmail.com', N'E5866344242E3D9726A5E688395D7787701F9B33B8D5408AD5D66DE378E29917')
SET IDENTITY_INSERT [dbo].[User] OFF
