@model Webshop.Models.FavoriteModel

@{
    ViewBag.Title = "Index";
}

<h2>Kedvenceim</h2>

<table class="table table-striped">
    <tr>
        <th>Termék</th>
        <th>Kép</th>
        <th>Ár</th>
        <th></th>
    </tr>

    @foreach (var item in Model.MyFavoriteProducts)
    {
        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td style="vertical-align: middle">
                <img src="@Url.Content(item.Product.Image)" alt="Image" style="height:100px" />
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Product.Price) <span> Ft</span>
            </td>
            <td style="vertical-align: middle">
                <a href="@Url.Action("Remove", "Favorite", new { id = item.Id })"><span class="glyphicon glyphicon-trash" title="Törlés" style="color:rgb(0,0,0)"/></a>
            </td>
        </tr>
    }

</table>